/* stylesheet.css */

body {
	background-color: skyblue;
	font-family: Tahoma, Verdana, Ariel;
}

.box {
	border: 1px solid black;
	padding: 20px;
	margin: 20px auto;
	width: 500px;
	background-color: beige;
	text-align: center;
	font-weight: bold;
}

.btnGuess {
	width: 50px;
}