/* stylesheet.css */

body {
	background-color: skyblue;
	font-family: Tahoma, Verdana, Ariel;
}

.box {
	border: 1px solid black;
	padding: 20px;
	margin: 1em auto;
	width: 500px;
	background-color: beige;
	text-align: center;
	font-weight: bold;
}

.btnGuess {
	width: 50px;
}


.hidden { display:none; }


#divGameMessage { margin-top: 1em; }

.good { color: green; }
.bad { color: red; }
.ugly { color: #888; }

